# Copyright (c) 2022 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

menuconfig LCZ_MQTT_SHADOW_PARSER
    bool "Enable Shadow Parser Module"
    depends on LCZ_MQTT_SUBSCRIPTIONS
    select JSMN

if LCZ_MQTT_SHADOW_PARSER

module=LCZ_MQTT_SHADOW_PARSER
module-dep=LOG
module-str=SHADOW_PARSER
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

config LCZ_MQTT_SHADOW_PARSER_FLAGS_AWS
    bool "Match topic strings used for AWS Demo"

endif # LCZ_MQTT_SHADOW_PARSER
